.feature-card2 {
    display: flex;
    flex-direction: row;
    /* width: 1280px; */
    /* height: 469px; */
    gap: 104px;
    margin: 0px 280px;
    margin-bottom: 120px;

}
.card2 {
    background-color: #EE4878;
    position: relative;
    height: 469px;
    width: 624px;
    border-radius: 22.57px;
}
.card2 img{
    position: absolute;
    top: 10%;
    left: 37%;
    transform: translate(-50%);
    z-index: 10;
}
.feature-card2 .card-content {
    padding-top: 75px;
    height: 319px;
    width: 592px;
    display: flex;
    flex-direction: column;
}
.feature-card2 .card-content p {
    width: 114px;
    height: 26px;
    background-color: #000;
    color: var(--secondary);
    border-radius: 4px;
    padding: 1px 8px;
    font-size: 14px;
    margin-bottom: 8px;
}
.feature-card2 .card-content h2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 96%;
    margin-bottom: 24px;
}
.feature-card2 .card-content text {
    color: #6A6B71;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -1.2%;
    margin-bottom: 40px;
}
.feature-card2 .card-content button {
    background-color: var(--light);
    width: 209px;
    min-height: 59px;
    color: var(--base);
    font-weight: 600;
    font-size: 18px;
    border: #000 1px solid;
    border-right: #000 solid 3px;
    border-bottom: #000 solid 3px;
    border-radius: 18px;
}