.footer {
    padding: rem;
    background-color: var(--primary);
    text-align: center;
    color: var(--primary);
    font-size: 0.95rem;
    margin-top: 4rem;
}
.footer a {
    color: var(--secondary);
    text-decoration: none;
    margin: 0 0.5rem;
}
.footer a:hover {
    text-decoration: underline;
}
.socialIcons {
    margin: 1rem 0;
    justify-content: space-between;
    gap: 1.2rem;
}
.socialIcons a {
    font-size: 1.4rem;
    color: var(--text);
    transition: color 0.3s;
}
.socialIcons a:hover {
    color: var(--secondary);
}
.newsletter {
    margin-top: 2rem;
}
.newsletter p {
    color: var(--text);
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
.newsletter input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 250px;
    max-width: 90%;
    margin-right: 0.5rem;
}
.newsletter button {
    padding: 0.5rem 1rem;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.newsletter button:hover {
    background-color: #6c63ff;
}
.copyright p{
    justify-content: space-between;
    color: var(--text);
    font-size: 1rem;
    padding-left: 1rem;
}