.footer {
    background-color: #7248ee;
    height: 624px;
    border-radius: 30px 30px 0px 0px;
}
.contentOne {
    display: flex;
    flex-direction: row;
    gap: 384px;
    padding: 111px 280px;
}
.contentOne h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    color: #fff;
    width: 398px;
}
.contentOne .email {
    display: flex;
    gap: 30px;
}
.contentOne .email input {
    width: 330px;
    height: 64px;
    border: 1.5px solid #000;
    border-radius: 8px;
    padding: 0px 20px;
}
.contentOne .email button {
    background-color: var(--secondary);
    width: 191px;
    height: 64px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border: #000 1.5px solid;
    border-radius: 10px;
}
.divider {
    width: 1332px;
    justify-self: center;
    display: flex;
    margin-bottom: 80px;
}
.contentTwo {
    display: flex;
    flex-direction: row;
    gap: 500px;
    padding: 0 280px;
}
.contentTwo .partOne{
    display: flex;
    flex-direction: column;
}
.contentTwo h2 {
    font-weight: 400;
    font-size: 36px;
    font-family: calistoga, cursive;
    color: #fff;
    line-height: 140%;
    margin-bottom: 10px;
}
.contentTwo p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 140%;
    width: 391px;
    height: 41px;
}
.contentTwo .socials {
    display: flex;
    gap: 10px;
    font-size: 24px;
    margin-top: 20px;
    color: #fff;
}
.contentTwo .footerLinks {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.homeGroup, .featureGroup, .socialGroup {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
}
.homeGroup a:first-child , .featureGroup a:first-child, .socialGroup a:first-child {
    font-weight: 600;
    color: #fff; /* Optional: Make it darker too */
}