.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32.5px 40px;
    background-color: var(--base);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 99px;
    font-family: dm sans;
    font-weight: 600;
}
.logo {
    width: 307.5px;
}
.logo a {
    font-family: 'Calistoga', cursive;
    font-size: 24px;
    font-weight: 400;
    color: var(--light);
    text-decoration: none;
}
.links {
    display: flex;
    gap: 40px;
    font-size: 18px;
}
.navLinks{
    display: flex;
    gap: 1.5rem;
}
.navLinks a {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    transition: color 0.3s;
}
.navLinks a:hover {
    color: var(--primary);
}
.login {
    font-weight: 600;
    font-size: 18px;
    height: 59px;
    width: 140px;
}
.signup {   
    font-weight: 600;
    font-size: 18px;
    height: 59px;
    width: 156px;
    background-color: var(--light);
    border: #000 1px solid;
    border-right: #000 solid 3px;
    border-bottom: #000 solid 3px;
    border-radius: 18px;
}
.signup:hover {
    background-color: var(--secondary);
}
.signup a {
    color: #fff;
}
.customText {
    font-size: 16px;
    font-family: dm sans;
    font-style: bold;
    line-height: 79%;
    letter-spacing: -4%;
    font-weight: 800;
}