@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
:root {
  --primary: #000;
  --secondary: #b8f45d;
  --text: #ffffff;
  --light: #6c63ff;
  --dark: #264653;
  --base: #ffffff;
  --danger: #e63946;
  --font-heading: 'EB Garamond', serif;
}
body {
  font-family: 'Inter', sans-serif;
  background: var(--light);
  color: var(--primary);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
