@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
:root {
  --primary: #000;
  --secondary: #CAE062;
  --text: #ffffff;
  --light: #7248ee;
  --dark: #264653;
  --base: #fcfbfc;
  --danger: #e63946;
  --font-heading: 'DM Sans', sans-serif;
}
body {
  background: var(--base);
  color: var(--primary);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
